In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
public = pd.read_csv('alt_fuel_stationsMar1_2021.csv')

/Users/xicheng/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3,6,13,20,29,31,32,45,46,47,54,63) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
public.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,Expected Date,Groups With Access Code,Access Days Time,Cards Accepted,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types,Country,Intersection Directions (French),Access Days Time (French),BD Blends (French),Groups With Access Code (French),Hydrogen Is Retail,Access Code,Access Detail Code,Federal Agency Code,Facility Type,CNG Dispenser Num,CNG On-Site Renewable Source,CNG Total Compression Capacity,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source
0,ELEC,LADWP - Truesdale Center,11797 Truesdale St,NaN,Sun Valley,CA,91352,NaN,NaN,E,NaN,Private,Fleet use only,NaN,NaN,NaN,NaN,NaN,40.0,2.0,NaN,Non-Networked,NaN,GPS,34.248319,-118.387971,9/3/20,1517,2021-03-04 18:40:37 UTC,LG,NaN,NaN,10/15/99,NaN,NaN,NaN,NaN,CHADEMO J1772 J1772COMBO,US,NaN,NaN,NaN,Priv√©,NaN,private,NaN,NaN,UTILITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015,NaN,213-741-1151,E,NaN,Public,24 hours daily; pay lot,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,Non-Networked,NaN,GPS,34.040539,-118.271387,11/9/20,1523,2021-03-04 18:40:37 UTC,P,NaN,NaN,8/30/95,NaN,NaN,NaN,NaN,J1772,US,NaN,NaN,NaN,Public,NaN,public,NaN,NaN,PARKING_GARAGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELEC,LADWP - John Ferraro Building,111 N Hope St,Across Hope,Los Angeles,CA,90012,NaN,NaN,E,NaN,Private,For fleet and employee use only,NaN,NaN,NaN,NaN,NaN,275.0,NaN,NaN,Non-Networked,NaN,GPS,34.059133,-118.248589,11/9/20,1525,2021-03-04 18:40:37 UTC,LG,NaN,NaN,10/15/99,NaN,NaN,NaN,NaN,J1772,US,NaN,NaN,NaN,Priv√©,NaN,private,NaN,NaN,UTILITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELEC,LADWP - Haynes Power Plant,6801 E 2nd St,NaN,Long Beach,CA,90803,NaN,NaN,E,NaN,Private,Fleet use only,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,Non-Networked,NaN,GPS,33.759802,-118.096665,9/3/20,1531,2021-03-04 18:40:37 UTC,LG,NaN,NaN,5/1/18,NaN,NaN,NaN,NaN,J1772,US,NaN,NaN,NaN,Priv√©,NaN,private,NaN,NaN,UTILITY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ELEC,State Capitol Parking Garage,1303 10th St,At 12th and N St,Sacramento,CA,95814,NaN,NaN,E,NaN,Private - Government only,Permitted state legislators only,Comdata,NaN,NaN,NaN,NaN,9.0,NaN,1 LP Inductive 1 SP Inductive 1 Avcon Conduc...,Non-Networked,NaN,200-8,38.576769,-121.495022,10/9/20,1533,2021-03-04 18:40:37 UTC,SG,NaN,NaN,10/15/96,NaN,NaN,NaN,NaN,J1772,US,NaN,NaN,NaN,Priv√© - R√©serv√© au gouvernement,NaN,private,GOVERNMENT,NaN,PARKING_GARAGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
states = list(public['State'].unique())

In [6]:
len(states)

52

In [7]:
public[['EV Level1 EVSE Num','EV Level2 EVSE Num','EV DC Fast Count']] = public[['EV Level1 EVSE Num','EV Level2 EVSE Num','EV DC Fast Count']].fillna(value=0)
public[['EV Level1 EVSE Num','EV Level2 EVSE Num','EV DC Fast Count']].head()

   EV Level1 EVSE Num  EV Level2 EVSE Num  EV DC Fast Count
0                 0.0                40.0               2.0
1                 0.0                12.0               0.0
2                 0.0               275.0               0.0
3                 0.0                 9.0               0.0
4                 0.0                 9.0               0.0

In [8]:
agg_ev_no = public.groupby(['State'],as_index=False)[['EV Level1 EVSE Num','EV Level2 EVSE Num','EV DC Fast Count']].agg('sum')

In [9]:
agg_ev_no

   State  EV Level1 EVSE Num  EV Level2 EVSE Num  EV DC Fast Count
0     AK                 0.0                64.0               5.0
1     AL                67.0               499.0              97.0
2     AR                 2.0               301.0              52.0
3     AZ                 7.0              1521.0             383.0
4     CA               665.0             31530.0            5427.0
5     CO                93.0              2998.0             408.0
6     CT                74.0               953.0             248.0
7     DC                39.0               665.0              36.0
8     DE                 2.0               142.0              72.0
9     FL               367.0              4524.0             893.0
10    GA               194.0              2982.0             423.0
11    HI                26.0               696.0              83.0
12    IA                27.0               332.0             120.0
13    ID                 9.0               244.0              79.0
14    IL                50.0              2007.0             402.0
15    IN                 4.0               627.0             180.0
16    KS                 4.0               837.0             105.0
17    KY                16.0               303.0              69.0
18    LA                25.0               278.0              68.0
19    MA                77.0              3323.0             331.0
20    MD                45.0              2438.0             452.0
21    ME                24.0               400.0             114.0
22    MI                52.0              1205.0             320.0
23    MN               126.0               953.0             191.0
24    MO                11.0              1856.0             184.0
25    MS               137.0               220.0              58.0
26    MT                 3.0                89.0             100.0
27    NC                40.0              1970.0             320.0
28    ND                 0.0                68.0              44.0
29    NE                 7.0               229.0              68.0
30    NH                 7.0               216.0              79.0
31    NJ                21.0              1289.0             440.0
32    NM                31.0               253.0             123.0
33    NV                12.0               910.0             284.0
34    NY                35.0              5808.0             652.0
35    OH                33.0              1499.0             331.0
36    OK                11.0               376.0             662.0
37    OR                70.0              1758.0             393.0
38    PA                48.0              1842.0             328.0
39    PR                 0.0                 5.0               0.0
40    RI                80.0               452.0              31.0
41    SC                12.0               629.0             122.0
42    SD                 1.0                79.0              55.0
43    TN                36.0              1327.0             188.0
44    TX               115.0              4080.0             721.0
45    UT                16.0              1441.0             170.0
46    VA               241.0              1942.0             566.0
47    VT                71.0               658.0              61.0
48    WA               214.0              3120.0             604.0
49    WI                78.0               652.0             140.0
50    WV                17.0               195.0              60.0
51    WY                 4.0                93.0              77.0

"""
AGGREGATE STATES INTO CENSUS DIVISIONS
"""
###
Division 1: New England        === CT ME MA NH RI VT 

Division 2: Middle Atlantic    === NJ NY PA

Division 3: East North Central === IL IN MI OH WI

Division 4: West North Central === IA KS MN MO NE ND SD

Division 5: South Atlantic     === DE DC FL GA MD NC SC VA WV

Division 6: East South Central === AL KY MS TN

Division 7: West South Central === AR LA OK TX

Division 8: Mountain           === AZ CO ID MT NV NM UT WY

Division 9: Pacific            === AK CA HI OR WA

In [10]:
conditions = [
 ((agg_ev_no['State'] == 'CT')|(agg_ev_no['State'] == 'ME')|(agg_ev_no['State'] == 'MA')|(agg_ev_no['State'] == 'NH')|(agg_ev_no['State'] == 'RI')|(agg_ev_no['State'] == 'VT')),
 ((agg_ev_no['State'] == 'NJ')|(agg_ev_no['State'] == 'NY')|(agg_ev_no['State'] == 'PA')),
 ((agg_ev_no['State'] == 'IL')|(agg_ev_no['State'] == 'IN')|(agg_ev_no['State'] == 'MI')|(agg_ev_no['State'] == 'OH')|(agg_ev_no['State'] == 'WI')),
 ((agg_ev_no['State'] == 'IA')|(agg_ev_no['State'] == 'KS')|(agg_ev_no['State'] == 'MN')|(agg_ev_no['State'] == 'MO')|(agg_ev_no['State'] == 'NE')|(agg_ev_no['State'] == 'ND')|(agg_ev_no['State'] == 'SD')),
 ((agg_ev_no['State'] == 'DE')|(agg_ev_no['State'] == 'DC')|(agg_ev_no['State'] == 'FL')|(agg_ev_no['State'] == 'GA')|(agg_ev_no['State'] == 'MD')|(agg_ev_no['State'] == 'NC')|(agg_ev_no['State'] == 'SC')|(agg_ev_no['State'] == 'VA')|(agg_ev_no['State'] == 'WV')),
 ((agg_ev_no['State'] == 'AL')|(agg_ev_no['State'] == 'KY')|(agg_ev_no['State'] == 'MS')|(agg_ev_no['State'] == 'TN')),
 ((agg_ev_no['State'] == 'AR')|(agg_ev_no['State'] == 'LA')|(agg_ev_no['State'] == 'OK')|(agg_ev_no['State'] == 'TX')),
 ((agg_ev_no['State'] == 'AZ')|(agg_ev_no['State'] == 'CO')|(agg_ev_no['State'] == 'ID')|(agg_ev_no['State'] == 'MT')|(agg_ev_no['State'] == 'NV')|(agg_ev_no['State'] == 'NM')|(agg_ev_no['State'] == 'UT')|(agg_ev_no['State'] == 'WY')),
 ((agg_ev_no['State'] == 'AK')|(agg_ev_no['State'] == 'CA')|(agg_ev_no['State'] == 'HI')|(agg_ev_no['State'] == 'OR')|(agg_ev_no['State'] == 'WA'))
]
choices = ['New England','Middle Atlantic','East North Central',
    'West North Central','South Atlantic','East South Central',
    'West South Central','Mountain','Pacific']
agg_ev_no['Division'] = np.select(conditions, choices, default='Puerto Rico')

In [11]:
agg_ev_no = agg_ev_no[agg_ev_no['State']!='PR']

In [12]:
agg_ev_no

,State,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,Division
0,AK,0.0,64.0,5.0,Pacific
1,AL,67.0,499.0,97.0,East South Central
2,AR,2.0,301.0,52.0,West South Central
3,AZ,7.0,1521.0,383.0,Mountain
4,CA,665.0,31530.0,5427.0,Pacific
5,CO,93.0,2998.0,408.0,Mountain
6,CT,74.0,953.0,248.0,New England
7,DC,39.0,665.0,36.0,South Atlantic
8,DE,2.0,142.0,72.0,South Atlantic
9,FL,367.0,4524.0,893.0,South Atlantic
10,GA,194.0,2982.0,423.0,South Atlantic
11,HI,26.0,696.0,83.0,Pacific
12,IA,27.0,332.0,120.0,West North Central
13,ID,9.0,244.0,79.0,Mountain
14,IL,50.0,2007.0,402.0,East North Central
15,IN,4.0,627.0,180.0,East North Central
16,KS,4.0,837.0,105.0,West North Central
17,KY,16.0,303.0,69.0,East South Central
18,LA,25.0,278.0,68.0,West South Central
19,MA,77.0,3323.0,331.0,New England
20,MD,45.0,2438.0,452.0,South Atlantic
21,ME,24.0,400.0,114.0,New England
22,MI,52.0,1205.0,320.0,East North Central
23,MN,126.0,953.0,191.0,West North Central
24,MO,11.0,1856.0,184.0,West North Central
25,MS,137.0,220.0,58.0,East South Central
26,MT,3.0,89.0,100.0,Mountain
27,NC,40.0,1970.0,320.0,South Atlantic
28,ND,0.0,68.0,44.0,West North Central
29,NE,7.0,229.0,68.0,West North Central
30,NH,7.0,216.0,79.0,New England
31,NJ,21.0,1289.0,440.0,Middle Atlantic
32,NM,31.0,253.0,123.0,Mountain
33,NV,12.0,910.0,284.0,Mountain
34,NY,35.0,5808.0,652.0,Middle Atlantic
35,OH,33.0,1499.0,331.0,East North Central
36,OK,11.0,376.0,662.0,West South Central
37,OR,70.0,1758.0,393.0,Pacific
38,PA,48.0,1842.0,328.0,Middle Atlantic
40,RI,80.0,452.0,31.0,New England
41,SC,12.0,629.0,122.0,South Atlantic
42,SD,1.0,79.0,55.0,West North Central
43,TN,36.0,1327.0,188.0,East South Central
44,TX,115.0,4080.0,721.0,West South Central
45,UT,16.0,1441.0,170.0,Mountain
46,VA,241.0,1942.0,566.0,South Atlantic
47,VT,71.0,658.0,61.0,New England
48,WA,214.0,3120.0,604.0,Pacific
49,WI,78.0,652.0,140.0,East North Central
50,WV,17.0,195.0,60.0,South Atlantic
51,WY,4.0,93.0,77.0,Mountain

In [13]:
agg_ev_no_division = agg_ev_no.groupby(['Division'],as_index=False)[['EV Level1 EVSE Num','EV Level2 EVSE Num','EV DC Fast Count']].agg('sum')
agg_ev_no_division

,Division,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count
0,East North Central,217.0,5990.0,1373.0
1,East South Central,256.0,2349.0,412.0
2,Middle Atlantic,104.0,8939.0,1420.0
3,Mountain,175.0,7549.0,1624.0
4,New England,333.0,6002.0,864.0
5,Pacific,975.0,37168.0,6512.0
6,South Atlantic,957.0,15487.0,2944.0
7,West North Central,176.0,4354.0,767.0
8,West South Central,153.0,5035.0,1503.0

"""
To have the public charger ownership of each person across region
we need the population across the division
"""

In [15]:
pupolation = pd.read_excel('nst-ResidentPopulation-est2020.xlsx',sheet_name='census')
pupolation.head()

         State    Census
0     .Alabama   4779736
1      .Alaska    710231
2     .Arizona   6392017
3    .Arkansas   2915918
4  .California  37253956

In [16]:
household = pd.read_excel('nst-ResidentPopulation-est2020.xlsx',sheet_name='household')
household['household'] = household['household']*1000
household.head()

         State   household
0     .Alabama   1897580.0
1      .Alaska    252200.0
2     .Arizona   2670440.0
3    .Arkansas   1163650.0
4  .California  13157870.0

In [18]:
#agg_ev_no['census'] = pupolation['Census']
agg_ev_no['household'] = household['household']

<ipython-input-18-70989256f6d4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_ev_no['household'] = household['household']

In [19]:
conditions = [
 ((agg_ev_no['State'] == 'CT')|(agg_ev_no['State'] == 'ME')|(agg_ev_no['State'] == 'MA')|(agg_ev_no['State'] == 'NH')|(agg_ev_no['State'] == 'RI')|(agg_ev_no['State'] == 'VT')),
 ((agg_ev_no['State'] == 'NJ')|(agg_ev_no['State'] == 'NY')|(agg_ev_no['State'] == 'PA')),
 ((agg_ev_no['State'] == 'IL')|(agg_ev_no['State'] == 'IN')|(agg_ev_no['State'] == 'MI')|(agg_ev_no['State'] == 'OH')|(agg_ev_no['State'] == 'WI')),
 ((agg_ev_no['State'] == 'IA')|(agg_ev_no['State'] == 'KS')|(agg_ev_no['State'] == 'MN')|(agg_ev_no['State'] == 'MO')|(agg_ev_no['State'] == 'NE')|(agg_ev_no['State'] == 'ND')|(agg_ev_no['State'] == 'SD')),
 ((agg_ev_no['State'] == 'DE')|(agg_ev_no['State'] == 'DC')|(agg_ev_no['State'] == 'FL')|(agg_ev_no['State'] == 'GA')|(agg_ev_no['State'] == 'MD')|(agg_ev_no['State'] == 'NC')|(agg_ev_no['State'] == 'SC')|(agg_ev_no['State'] == 'VA')|(agg_ev_no['State'] == 'WV')),
 ((agg_ev_no['State'] == 'AL')|(agg_ev_no['State'] == 'KY')|(agg_ev_no['State'] == 'MS')|(agg_ev_no['State'] == 'TN')),
 ((agg_ev_no['State'] == 'AR')|(agg_ev_no['State'] == 'LA')|(agg_ev_no['State'] == 'OK')|(agg_ev_no['State'] == 'TX')),
 ((agg_ev_no['State'] == 'AZ')|(agg_ev_no['State'] == 'CO')|(agg_ev_no['State'] == 'ID')|(agg_ev_no['State'] == 'MT')|(agg_ev_no['State'] == 'NV')|(agg_ev_no['State'] == 'NM')|(agg_ev_no['State'] == 'UT')|(agg_ev_no['State'] == 'WY')),
 ((agg_ev_no['State'] == 'AK')|(agg_ev_no['State'] == 'CA')|(agg_ev_no['State'] == 'HI')|(agg_ev_no['State'] == 'OR')|(agg_ev_no['State'] == 'WA'))
]
choices = ['New England','Middle Atlantic','East North Central',
    'West North Central','South Atlantic','East South Central',
    'West South Central','Mountain','Pacific']
agg_ev_no['Division'] = np.select(conditions, choices, default='Puerto Rico')

<ipython-input-19-efa7ab09233b>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_ev_no['Division'] = np.select(conditions, choices, default='Puerto Rico')

In [19]:
agg_ev_no_division = agg_ev_no.groupby(['Division'],as_index=False)[['EV Level1 EVSE Num','EV Level2 EVSE Num','EV DC Fast Count','household']].agg('sum')
agg_ev_no_division

,Division,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,household
0,East North Central,217.0,5990.0,1373.0,14971830.0
1,East South Central,256.0,2349.0,412.0,14444400.0
2,Middle Atlantic,104.0,8939.0,1420.0,6236190.0
3,Mountain,175.0,7549.0,1624.0,20458340.0
4,New England,333.0,6002.0,864.0,12796140.0
5,Pacific,975.0,37168.0,6512.0,17898280.0
6,South Atlantic,957.0,15487.0,2944.0,19203340.0
7,West North Central,176.0,4354.0,767.0,9456690.0
8,West South Central,153.0,5035.0,1503.0,6930530.0

In [20]:
agg_ev_no_division['level_1_share']=agg_ev_no_division['EV Level1 EVSE Num']/agg_ev_no_division['household']
agg_ev_no_division['level_2_share']=agg_ev_no_division['EV Level2 EVSE Num']/agg_ev_no_division['household']
agg_ev_no_division['DC_Fast_share']=agg_ev_no_division['EV DC Fast Count']/agg_ev_no_division['household']
agg_ev_no_division

,Division,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,household,level_1_share,level_2_share,DC_Fast_share
0,East North Central,217.0,5990.0,1373.0,14971830.0,0.000014,0.000400,0.000092
1,East South Central,256.0,2349.0,412.0,14444400.0,0.000018,0.000163,0.000029
2,Middle Atlantic,104.0,8939.0,1420.0,6236190.0,0.000017,0.001433,0.000228
3,Mountain,175.0,7549.0,1624.0,20458340.0,0.000009,0.000369,0.000079
4,New England,333.0,6002.0,864.0,12796140.0,0.000026,0.000469,0.000068
5,Pacific,975.0,37168.0,6512.0,17898280.0,0.000054,0.002077,0.000364
6,South Atlantic,957.0,15487.0,2944.0,19203340.0,0.000050,0.000806,0.000153
7,West North Central,176.0,4354.0,767.0,9456690.0,0.000019,0.000460,0.000081
8,West South Central,153.0,5035.0,1503.0,6930530.0,0.000022,0.000726,0.000217

In [21]:
agg_ev_no_division['EV DC Fast Count'].sum()

17419.0


Take **EV Level1 EVSE Num** along with **EV Level2 EVSE Num** as the EVSE in the workplace.

Take **EV DC Fast Count** as the EVSE in the public area.

In [24]:
agg_ev_no_division_2 = agg_ev_no_division.copy()

In [25]:
agg_ev_no_division_2['WorkPlace_EVSE'] = agg_ev_no_division_2['EV Level1 EVSE Num'] + agg_ev_no_division_2['EV Level2 EVSE Num']
agg_ev_no_division_2['Public_EVSE'] = agg_ev_no_division_2['EV DC Fast Count']
agg_ev_no_division_2

,Division,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,household,level_1_share,level_2_share,DC_Fast_share,WorkPlace_EVSE,Public_EVSE
0,East North Central,217.0,5990.0,1373.0,14971830.0,0.000014,0.000400,0.000092,6207.0,1373.0
1,East South Central,256.0,2349.0,412.0,14444400.0,0.000018,0.000163,0.000029,2605.0,412.0
2,Middle Atlantic,104.0,8939.0,1420.0,6236190.0,0.000017,0.001433,0.000228,9043.0,1420.0
3,Mountain,175.0,7549.0,1624.0,20458340.0,0.000009,0.000369,0.000079,7724.0,1624.0
4,New England,333.0,6002.0,864.0,12796140.0,0.000026,0.000469,0.000068,6335.0,864.0
5,Pacific,975.0,37168.0,6512.0,17898280.0,0.000054,0.002077,0.000364,38143.0,6512.0
6,South Atlantic,957.0,15487.0,2944.0,19203340.0,0.000050,0.000806,0.000153,16444.0,2944.0
7,West North Central,176.0,4354.0,767.0,9456690.0,0.000019,0.000460,0.000081,4530.0,767.0
8,West South Central,153.0,5035.0,1503.0,6930530.0,0.000022,0.000726,0.000217,5188.0,1503.0

In [ ]:
division_list = ['New England','Middle Atlantic','East North Central','West North Central',
                 'South Atlantic','East South Central','West South Central','Mountain','Pacific']

In [27]:
agg_ev_no_division_2['EV DC Fast Count'].sum()

17419.0

Consider Gas station VS EVSE for the public area

In [76]:
agg_ev_no_division

,Division,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,census,level_1_share,level_2_share,DC_Fast_share
0,East North Central,217.0,5990.0,1373.0,36637287.0,0.000006,0.000163,0.000037
1,East South Central,256.0,2349.0,412.0,36184086.0,0.000007,0.000065,0.000011
2,Middle Atlantic,104.0,8939.0,1420.0,15434149.0,0.000007,0.000579,0.000092
3,Mountain,175.0,7549.0,1624.0,51304487.0,0.000003,0.000147,0.000032
4,New England,333.0,6002.0,864.0,31591885.0,0.000011,0.000190,0.000027
5,Pacific,975.0,37168.0,6512.0,49078061.0,0.000020,0.000757,0.000133
6,Puerto Rico,0.0,5.0,0.0,1052567.0,0.000000,0.000005,0.000000
7,South Atlantic,957.0,15487.0,2944.0,46967343.0,0.000020,0.000330,0.000063
8,West North Central,176.0,4354.0,767.0,23055048.0,0.000008,0.000189,0.000033
9,West South Central,153.0,5035.0,1503.0,17440625.0,0.000009,0.000289,0.000086

In [ ]:
"""
!!! BUT THIS IS NOT APPROPRIATE
!!! we need to find how many people covered by a public charger
!!! on average
"""

"""
Assume Level 1 can serve 100 people
Assume Level 2 can serve 200 people
Assume DC Fast can serve 2000 people
"""

In [77]:
agg_ev_no_division['level_1_share'] = agg_ev_no_division['level_1_share']*100
agg_ev_no_division['level_2_share'] = agg_ev_no_division['level_2_share']*200
agg_ev_no_division['DC_Fast_share'] = agg_ev_no_division['DC_Fast_share']*2000

In [78]:
agg_ev_no_division

,Division,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,census,level_1_share,level_2_share,DC_Fast_share
0,East North Central,217.0,5990.0,1373.0,36637287.0,0.000592,0.032699,0.074951
1,East South Central,256.0,2349.0,412.0,36184086.0,0.000707,0.012984,0.022772
2,Middle Atlantic,104.0,8939.0,1420.0,15434149.0,0.000674,0.115834,0.184008
3,Mountain,175.0,7549.0,1624.0,51304487.0,0.000341,0.029428,0.063308
4,New England,333.0,6002.0,864.0,31591885.0,0.001054,0.037997,0.054698
5,Pacific,975.0,37168.0,6512.0,49078061.0,0.001987,0.151465,0.265373
6,Puerto Rico,0.0,5.0,0.0,1052567.0,0.000000,0.000950,0.000000
7,South Atlantic,957.0,15487.0,2944.0,46967343.0,0.002038,0.065948,0.125364
8,West North Central,176.0,4354.0,767.0,23055048.0,0.000763,0.037770,0.066536
9,West South Central,153.0,5035.0,1503.0,17440625.0,0.000877,0.057739,0.172356